<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-left">
	        <!-- <li><a href="/"><img class="navbar_image" src="http://www.iconsplace.com/icons/preview/white/film-256.png"></a></li> -->
		</ul>
	    <ul class="nav navbar-nav navbar-right">
	        <li><a href="/movies">Movies</a></li>
	        <li><a href="/actors">Actors</a></li>
	    </ul>
	</div>
</nav>

