<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="home_brand">
        <a class="navbar-brand" href="/movies">Movies</a>
        <a class="navbar-brand" href="/actors">Actors</a>
      </ul>
    </div>
  </div>
</nav>