<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="home_body">

	<div id="scene">
		<div class="opening_box">
			<p class="home_type">Welcome!</p>
			<div class="button_box">
				<div class="button-container1">
				  <a href="/movies" class="btn"><span class="text">View Movies</span></a>
				</div>
				<div class="button-container2">
				  <a href="/actors" class="btn"><span class="text">View Actors</span></a>
				</div>
			</div>
		</div>
	</div>

	

</body>
</html>
