<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body class="home_body">

	<div id="scene">
		<div class="opening_box">
			<p class="home_type">Welcome!</p>
			<div class="button_box row">
				<div class="col-lg-1"></div>
				<div class="col-lg-4">
				  <a href="/movies" class="opening_button"><i class="fa fa-dribbble"></i>Movies</a>
				</div>
				<div class="col-lg-1"></div>
				<div class="col-lg-4">
				  <a href="/actors" class="opening_button"><i class="fa fa-dribbble"></i>Actors</a>
				</div>
				<div class="col-lg-1"></div>
			</div>
		</div>
	</div>

	

</body>
</html>
