/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require bootstrap
*= require_tree .
*= require_self
*/

@import bootstrap; 

/* Welcome Page */
body {
  background-color: black;
}

a.opening_button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #EE3769;
  border-radius: 8px;
  height: 4.2em;
  width: 15em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #EE3769;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 383%;
}
a.opening_button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 30em;
  height: 30em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
a.opening_button:hover {
  color: #fff;
}
a.opening_button:hover::before {
  box-shadow: inset 0 0 0 10em #ee3769;
}


/*===================================================*/

.home_type {
  text-align: center;
  font-size: 70px;
  margin-top: 5%;
  font-family: Dosis;
  color: white;
}

.button_box{
  padding-top: 5%;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  font-family: Dosis;
}

a:link {
  text-decoration: none;
}


.opening_box {
  width: 19.5%;
  height: 14%;
  background-color: black;
  z-index: 1;
  position: absolute;
  margin-left: 40%;
  margin-top: 9.5%;
}


.home_body {
  /*background-image: url("https://images.unsplash.com/photo-1442876906995-6761040d1f0b?crop=entropy&dpr=2.5&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=40&w=1550");
  background-size: cover;*/
  background-color: #000;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow-x: hidden; 
  overflow-y: hidden;
}

#scene .tile {
  width: 50px;
  height: 50px;
  position: absolute;
}

#scene .tile > div {
  transform-style: preserve-3d;
  transform-origin: 50px 50px;
  width: 0px;
  height: 0px;
  background: #0f0;
}

#scene .tile figure {
  background-size: cover;
}

#scene .tile figure.cube.front {
  width: 162px;
  height: 240px;
}


/*==================================================*/



* {
 margin: 0;
 padding: 0;
}

.main {
  background-color: black;
}

.original {
 background: #000;
 font-family: "Oxygen", sans-serif;
}

.container {
 margin: 0 auto 0;
 width: 1300px;
}

/*
 MOVIES
*/

.hero {
 background: url('http://orig10.deviantart.net/8ed3/f/2015/081/b/2/docking_scene___interstellar_hd_gif_by_theossfx-d8mokzb.gif');
 background-size: cover;
 background-attachment: fixed;
 height: 700px;
 width: 100%;
}

/*.hero:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: -webkit-radial-gradient(top left, ellipse cover,rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%);
}*/

.main h2 {
  text-align: center;
 color: white;
 padding: 40px 0 40px 0;
 font-family: Dosis ;
 font-size: 60px;
 text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.main p {
 color: #fff;
 font-size: 14px;
}

#hero_header {
  padding: 160px 0 0 0;
  font-family: Dosis;
  color: black;
}

.hero h2 {
 color: black;
 padding: 0 0 0 0;
 font-family: Dosis;
 font-size: 40px;
 text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
 text-transform: uppercase;
}

.hero p {
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 3;
 color: black;
 display: block;
   display: -webkit-box;
 max-height: 300px;
 overflow: hidden;
 text-overflow: ellipsis;
 width: 30%;
}

.hero a {
 background-color: #0393ff;
 border-bottom: 1px solid rgba(0,0,0,0.1);
 border-radius: 2px;
 border-top: 1px solid rgba(255,255,255,0.25);
 color: #fff;
 display: block;
 font-size: 14px;
 height: 30px;
 line-height: 30px;
 margin: 20px 0 0 0;
 text-align: center;
 text-decoration: none;
 transition: background-color 0.5s;
 width: 120px;
}

.hero a:hover {
 background-color: #0073ad;
 transition: background-color 0.5s;
}

h3,
h3 a {
 color: #fff;
 font-family: Dosis;
 line-height: 20px;
 margin: 12px 0 4px;
 text-transform: uppercase;
 text-decoration: none;
}

.movie {
 display: block;
 float: left;
 margin: 0 10px 150px 0;
 width: 184px;
 height: 350px;
 font-family: Dosis;
}

.movie img, .actor img {
 width: 100%;
}

.movie a,
.actor a {
 color: white;
 text-decoration: none;
}

p.year {
 color: #bcbec0;
}

/* 
 MOVIE SHOW
*/
.movie-show .movie, .actor-index, .actor-show .actor {
 padding-top: 5%;
 width: 100%;
}

.movie-show .movie img, .actor-show .actor img {
 float: left;
 width: 184px;
 margin: 5px;
}

.movie-show .movie h3, .actor-show .actor h3 {
 color: #0393ff;
 font-size: 40px;
 height: auto;
 line-height: 40px;
}

.info {
 display: block;
 float: left;
 margin: 0 0 0 40px;
 width: calc(100% - 224px);
}

.movie-show .movie p {
 display: block;
}

.movie-show .movie p.year {
 margin: 0 0 20px 0;
}

.movie-des {
  padding-left: 200px;
  margin-bottom: 20px;
}


/* 
 MEDIA QUERIES
*/

@media screen and (max-width: 960px) {
 .container {
   padding: 0 20px;
   width: calc(100% - 40px);
 }

 .hero h2 {
   padding: 250px 0 0 0;
 }

 .hero p {
   width: 50%;
 }

 .movie, .actor {
   width: calc(25% - 10px);
 }

 .movie h3 {
   font-size: 15px;
 }

 .movie a,
 .actor a {
   font-size: 12px;
 }
}

@media screen and (min-width: 700px) {
 .movie a,
 .actor a {
   font-size: 14px;
 }
}

@media screen and (max-width: 420px) {
 .movie, .actor {
   width: calc(50% - 10px);
 }

 .info {
   margin: 0 0 0 20px;
   width: calc(100% - 204px);
 }

 .movie-show .movie h3, .actor-show .actor h3 {
   font-size: 24px;
   line-height: 24px;
 }

 .movie a,
 .actor a {
   font-size: 14px;
 }
}


/*Navbar stylesheet*/

.navbar {
  font-family: Dosis;
}

.navbar-right {
  font-size: 30px;
  margin-right: 10px;
}

.navbar_image {
  height: 30px;
}

/*Actor Page*/

.actor-index {
  background-color: black;
}

.main .actors_header {
  text-align: center;
  font-size: 80px;
  font-family: Dosis;
  color: white;
}

.actor {
 display: block;
 float: left;
 margin: 0 10px 100px 0;
 width: 200px;
 height: 200px;
 font-family: Dosis;
}

.actor img {
  height: 184px;
}

.actor_info {
 display: block;
 float: left;
 margin: 0;
 width: calc(100% - 224px);
}

.single_actor_page img {
  float: left;
  width: 184px;
  margin: 5px;
}

.border {
  border: 2px solid white;
  margin-top: 10%;
}

.actor-show {
  margin-top: 10%;
}